<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Health-A-Plenty | Buddies</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://gcdn.pbrd.co/images/4wgHA9P6bO4h.png?o=1q" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="css/animate-3.7.0.css">
    <link rel="stylesheet" href="css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="css/owl-carousel.min.css">
    <link rel="stylesheet" href="css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
    <header class="header-area">
    
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"  style="text-transform: uppercase; font-size: 40px; font-weight: 800; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: Black;" > Health Buddies</a>
                </div>		    		
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h4>Easiest way for video-confrencing.</h4>
                    <h1>Discuss about your health with your buddies virtually </h1>
                    <a href="/test" class="genric-btn success circle" style="font-size:15px;">Create your own Room</a>
					<a href="#links" class="genric-btn success-border circle" style="font-size:15px;">Join Room</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Feature Area Starts -->
   
 <div class="section-top-border" id="links">
    <div class="container">
	    <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-top text-center">
                    <h2>Join Room</h2>
                    <p>Accroding to your relevance</p>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-table-wrap">
    <div class="progress-table">
        <div class="table-head">
            <div class="serial">Room</div>
            <div class="country">Description</div>
            <div class="visit">Link</div>
            
        </div>
        <div class="table-row">
            <div class="serial">01</div>
            <div class="country">COVID-19</div>
            <div class="visit"><a href="/9d1bd31e-11cc-4cea-a05b-7d863bdfd309">Join Now</a></div>
            
        </div>
            <div class="table-row">
            <div class="serial">02</div>
            <div class="country">Heart Disease</div>
            <div class="visit"><a href="/9d1bd31e-11cc-4cea-b189-7d863bdfd309">Join Now</a></div>
            
        </div>
            <div class="table-row">
            <div class="serial">03</div>
            <div class="country">Lung Disease</div>
            <div class="visit"><a href="/9d1bd31e-11cc-4vfd-c145-7d863bdfd309">Join Now</a></div>
            
        </div>
            <div class="table-row">
            <div class="serial">04</div>
            <div class="country">Malaria</div>
            <div class="visit"><a href="/9d1bd31e-11ry-4xwa-a05b-7d013bdfd309">Join Now</a></div>
            
        </div>        
    </div>
   </div>
</div>

    <footer class="footer-area section-padding" >
        <div class="footer-widget">
            <div class="container">
                    <p style="text-align: center; color: white;"> Copyright &copy; <script>document.write(new Date().getFullYear())</script> Health-A-Plenty All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->


    <!-- Javascript -->
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="js/vendor/wow.min.js"></script>
    <script src="js/vendor/owl-carousel.min.js"></script>
    <script src="js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="js/vendor/jquery.nice-select.min.js"></script>
    <script src="js/vendor/superfish.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
